<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-5 col-lg-4">
      <div class="card border-0">
        <h4 class="card-header text-center">Verify Email</h4>
        <div class="card-body">
          <div *ngIf="emailStatus == EmailStatus.Verifying" class="text-center py-5">
            <span class="spinner-border spinner-border-lg"></span>
            <p class="text-muted mt-3">Verifying your email address...</p>
          </div>
          <div *ngIf="emailStatus == EmailStatus.Failed" class="alert alert-danger">
            <strong>Verification Failed</strong><br />
            <p class="mb-0">
              You can also verify your account using the
              <a routerLink="../forgot-password">password reset</a> page.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
